*
{
    margin: 0px;
    padding: 0px;
}
body
{
    background-color: teal;
}
.container
{
    width: 35vw;
    height: 50vh;
    background-color: rgb(255,255,255,0.4);
    margin: 10rem 25rem;
    text-align: center;
     position: relative;
}
.quizSection
{
    display: none;
}
.startingAction
{
    width: 10vw;
    height: auto;
    position: absolute;
    background-color: red;
    margin: 7rem 10rem;
}
.startAction
{
    width: 10vw;
    height: 5vh;
    text-align: center;
    border: 1px solid white;
    padding-top: 10px;
    color: white;
}
.startAction:hover
{
    cursor: pointer;
    background-color: teal;
    color: white;
}
#suivant
{
    display: none;
    width: 10vw;
    height: 7vh;
    background-color: pink;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    right: 20px;
    bottom: 0px;
    margin-bottom: 1rem;
}
#suivant:hover
{
    background-color: rgba(255, 192, 203, 0.797);
    color: white;
}
.aboutQuestion
{
    font-size: 22px;
    margin-top: 1rem;
}
.numQuestion
{
    color: rgb(252, 198, 207);
}
.assertions
{
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    margin-top: 1rem;
}
.assertions .choix
{
    width: 15rem;
    background-color: rgb(0,0,0,0.4);
    margin: 1px;
    padding: 5px;
    border: none;
    color: white;
    border-radius: 5px;
    text-align: left;
}
.assertions .choix:hover
{
    background-color: rgb(0,0,0,0.7);
    color: white;
    cursor: pointer;
}
.quizSection h1 
{
    margin-bottom: 1rem;
    background-color: pink;
    color: rgba(0, 0, 0, 0.815);
    padding: 5px;
    font-size: 35px;
}
.score 
{
    margin-top: 1rem;
}
/*----------------------classes creer en js ---------*/
.disabled
{/*on va enelever l'evenement sur un ou plusieurs objet*/
    pointer-events:none;
}
.disabled:hover
{
    cursor: no-drop;
}
.correct
{/*on va donner changer d'arriere plan de l'objet*/
    background-color : green;
    width: 15rem;
    margin: 1px;
    padding: 5px;
    text-align: left;
    border: none;
    color: white;
    border-radius: 5px;
}
.incorrect
{/*on va donner changer d'arriere plan de l'objet*/
    background-color : red;
    width: 15rem;
    margin: 1px;
    padding: 5px;
    border: none;
    color: white;
    border-radius: 5px;
    text-align: left;
}
.scoreContainer
{
    width: 25vw;
    height: auto;
    display: none;
    position: relative;
    padding: 1rem;
    top: 6rem;
    left: 2.5rem;
    background-color: rgb(0,0,0,0.4);
}
.finalResult
{
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
}
.restart
{
    width: auto;
    background-color: pink;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 7px;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.restart:hover
{
    background-color: teal;
    border: 1px solid white;
    color: white;
}
@media screen and (max-width : 800px){
    .container
    {
        width: 50%;
        height: 40vh;
        margin: 2.5rem 0px;
        position: relative;
    }
    .quizSection h1 
    {
    padding: 2.5px;
    font-size: 20px;
    }
    .startingAction
    {
        width: auto;
        height: auto;
        margin: 5rem 3.5rem;
    }
    .startAction
    {
        width: auto;
        height: 2.5vh;
        padding: 5px;
    }
     .aboutQuestion
    {
        font-size: 12px;
        margin-top: -5px;
    }
    .assertions .choix
    {
    width: 31vw;
    padding: 5px;
    font-size: 12px;
    margin-left: -2rem;
    text-align: left;
    }

    #suivant
    {
        width: auto;
        padding: 5px;
        height: auto;
        font-size: 12px;
        border-radius: 2px;
    }
    #suivant:hover
    {
        background-color: teal;
        color:white;
    }
    .correct
    {/*on va donner changer d'arriere plan de l'objet*/
        background-color : green;
        width: 31vw;
        margin: 0px;
        padding: 5px;
        margin-left: -2rem;
        border-radius: 5px;
    }
    .incorrect
    {/*on va donner changer d'arriere plan de l'objet*/
        background-color : red;
        width: 31vw;
        margin: 0px;
        padding: 5px;
        border-radius: 5px;
        margin-left: -2rem;
        text-align: left;
    }
    .finalResult
    {
        font-size: 12px;
    }
    .restart
    {
        width: auto;
        background-color: pink;
        font-size: 12px;
        padding: 5px;
        border-radius: 2px;
    }
    .restart:hover
    {
        background-color: teal;
        color: white;
    }
    .score
    {
        font-size: 12px;
    }
}
